<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Self improvement social</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div layout:fragment="pre-content-space" style="height: 60px"></div>
<section>
    <div layout:fragment="content">
        <h1>This is the Layout's main section</h1>
        <p>This content will be replaced if the page
            using the layout also defines a layout:fragment="content" segment.</p>
    </div>
</section>
<script th:src="@{/js/language-select.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>