<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/main}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div layout:fragment="content">
    <h3>Hello, <span th:text="${user.name}">bro</span>!</h3>
    <form th:action="@{/logout}" th:method="POST">
        <button type="submit" th:text="#{user.logOut}"></button>
    </form>

    <br>
    1. Visible to role 'USER':
    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    <br>
    2. Visible to role 'ROOT':
    <div sec:authorize="hasRole('ROOT')">Text visible to root.</div>
    <br>
    3. Visible to authenticated user:
    <div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div>
    <br>
    4. Authenticated user's name:
    <div sec:authentication="name"></div>
    <br>
    5. Authenticated user's principal.username:
    <div sec:authentication="principal.username"></div>
    <br>
    6. Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>
    <br>
</div>
</body>
</html>